#LogIn {
  position: relative;
  height: 100%;
  background-color: var(--light-01);
  background-image: radial-gradient(var(--brown-00) 9%, transparent 9%),
    radial-gradient(var(--light-00) 11%, transparent 11%);
  background-position: 0px 0px, 12px 12px;
  background-size: 24px 24px;
}

#login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-03);
  width: calc(100% - var(--spacing-03) * 2);
  max-width: 25rem;
  padding: var(--spacing-03);
  border: solid 2px var(--brown-00);
  border-radius: var(--radius-02);
  background-color: var(--light-00);
  box-shadow: 0.5rem 0.5rem 0 var(--brown-00-dim);
  animation: float 1s alternate infinite ease-in-out;
}

@keyframes float {
  from {
    transform: translate(-50%, -49.5%);
  }
  to {
    transform: translate(-50%, -51.5%);
  }
}

#login-user-wrp {
  display: flex;
  align-items: center;
  height: 9rem;
  margin-block: var(--spacing-03);
}

#login-user-wrp > button {
  width: 1.5rem;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
  background-color: var(--light-00);
  transition: transform 0.4s var(--bezier-00);
}

#login-user-wrp > button:hover {
  cursor: pointer;
  transform: scale(110%);
}

#login-user-wrp > button > img {
  width: 100%;
}

#login-user-wrp > button:nth-child(3) > img {
  transform: rotate(180deg);
}

#login-user-display {
  display: flex;
  align-items: center;
  gap: var(--spacing-03);
  width: calc(100% - 3rem);
  padding-inline: var(--spacing-03);
}

#login-user-display > div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  opacity: 0.3;
}

#login-user-display > div > img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

#login-user-display > div > p {
  text-align: center;
  font-size: var(--text-01);
  font-weight: 600;
}

#login-user-display > .selected {
  transform: scale(130%);
  opacity: 1;
  z-index: 2;
}

#login-user-display > .selected > p {
  color: var(--pink-03);
}

#login-password-wrp {
  position: relative;
  width: 100%;
  height: 2.5rem;
}

#login-password-wrp > img {
  height: 1rem;
  margin: var(--spacing-02);
}

#login-password {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  padding: var(--spacing-02);
  padding-left: calc(var(--spacing-02) + 1rem + var(--spacing-01));
  border: solid 2px var(--brown-00);
  border-radius: var(--radius-01);
  background-color: transparent;
}

#login-access {
  height: 2.5rem;
  border: solid 2px var(--pink-01);
  border-radius: var(--radius-01);
  background-color: var(--pink-00);
  font-size: var(--text-02);
  font-weight: 600;
  transition: 0.4s var(--bezier-00);
  transition-property: transform, background-color, border;
}

#login-access:hover {
  cursor: pointer;
  border: solid 2px var(--pink-02);
  background-color: var(--pink-01);
  transform: scale(104%);
}

@media screen and (max-width: 368px) {
  #login-form {
    width: calc(100% - var(--spacing-02) * 2);
    padding: var(--spacing-02);
  }
  #login-user-wrp {
    margin-block: var(--spacing-01);
  }
  #login-user-display {
    gap: var(--spacing-02);
    width: calc(100% - 3rem);
    padding-inline: var(--spacing-01);
  }
}
